*{
    margin: 0;
}
.merchantlogin-container,
 .merchantregister-container{
    display: flex;
    align-items: center;
    background-color: rgb(226, 226, 223);
}
.login{
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding-top: 30px;
    padding: 10px 20px;
    gap: 15px;
}
.login form{
    width: 1000px;
    height: 500px;
    margin: auto;
}
.login div{
    background-color: white;
    padding: 10px;
}
.merchantlogin{
    width: 90%;
    height: 500px;
    margin: auto;
}
.login input{
    width: 90%;
    margin: 0 auto;
    border: 1px solid rgb(222, 222, 222);
}
.login span{
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}
.button button{
    outline: none;
    background-color: black;
    color: white;
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 15px 10px;
    border-radius: 60px;
}

.register-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    /* height: 500px; */
    padding: 70px 0;
}
.register-container{
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 40px 30px;
}
.register-container h1{
    text-align: center;
    margin-bottom: 15px;
}
.register-container input{
    width: 100%;
    border: 1px solid #dedede;
    margin-bottom: 10px;
    height: 40px;
}
.register-container select{
    width: 100%;
}
.register-container label{
    margin: 10px 0;
}
.register-container span{
    margin: 0;
    font-size: 14px;
}
.select{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.select select{
    border: 1px solid #dedede;
    width: 145px;
    margin-bottom: 10px;
}
.gender{
    margin-bottom: 10px;
    border: 1px solid #dedede;
}
#flex{
    display: flex;
    align-items: center;
}
#flex p{
    font-size: 15px;
    padding: 0 5px;
    margin: 0;
}
.checkbox input{
    font-size: 5px;
    width: 20px;
    margin: 0;
}
.update_btn button{
    width: 170px;
    padding: 10px 5px;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 30px;
}
